@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background: #0c2605;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
}

input {
  outline: none !important;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
}

/* === FORM HOLDER === */
.form {
  position: relative;
  background: #d6ffb7;
  padding: 30px 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 #134611;
  overflow: hidden;
}

/* Each form piece */
.form .form-peice {
  display: none;
}
.form .form-peice.active {
  display: block;
}

/* Form elements */
.form form .form-group {
  margin-bottom: 20px;
}
.form form label {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #134611;
}
.form form input:not([type=submit]) {
  background: none;
  border: none;
  border-bottom: 2px solid #134611;
  width: 100%;
  padding: 10px 5px;
  font-size: 15px;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

/* CTA buttons */
.form form .CTA {
  margin-top: 25px;
  text-align: center;
}
.form form .CTA input {
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 30px;
  background: #3E8914;
  color: #fff;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.form form .CTA input:hover {
  background: #134611;
}
.form form .CTA a.switch {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #134611;
  text-decoration: underline;
  transition: color 0.3s;
}
.form form .CTA a.switch:hover {
  color: #3E8914;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10%;
  background-color: #000000;
}
.nav__links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav__links a {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}
.nav__links li {
  padding: 0px 20px;
}
.nav__links li a:hover {
  color: #a9b388;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 40px;
}
footer p {
  color: #777;
}
footer p a {
  color: #5d8f00;
  transition: all 0.3s;
  text-decoration: none !important;
}
footer p a:hover {
  color: #3E8914;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    overflow: hidden;
  }
  section#formHolder div.brand {
    min-height: 200px !important;
  }
  section#formHolder .form {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 40px !important;
  }
}
